!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Ai
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/css/application.css", :rel => "stylesheet"}
  %body
    .container
      .row
        .col-md-12
          .tabbable
            %ul.nav.nav-tabs
              %li.active
                %a#first-tab{href: "#first-step"} Шаг 1
              %li
                %a#second-tab{href: "#second-step"} Шаг 2
              %li
                %a#third-tab{href: "#third-step"} Шаг 3
              %li
                %a#result-tab{href: "#result-step"} Результат

            %form(action='/result' method='post')
              .tab-content
                #first-step.tab-pane.active
                  .col-md-4.col-md-offset-4.well.main
                    .form-group
                      %label.control-label{for: "aim-select"} Выберите цель поиска
                      %select#aim-select.form-control{ name: "aim" }
                        -aims_options.map do |a|
                          -haml_tag :option, "#{a}", value: a
                    .form-group
                      .pull-right
                        %a#next-button.btn.btn-primary Далее
                #second-step.tab-pane
                  .col-md-4.col-md-offset-4.well.main
                    %h4 Выберите известные Вам значения
                    %hr
                    -input_list.map do |key,value|
                      -name = key.gsub(' ', '-')
                      .form-group{class: "#{name}"}
                        %label.control-label
                          =key
                        %select.form-control{ name: "context[#{name}]", id: "#{name}" }
                          %option
                          -value.map do |a|
                            -haml_tag :option, "#{a}", value: a
                    .form-group
                      .pull-left
                        %a#back-button.btn.btn-default Назад
                      .pull-right
                        %button#search-button.btn.btn-primary Искать


    %script{src: "/js/jquery.js"}
    %script{src: "/js/bootstrap.min.js"}
    %script{src: "/js/application.js"}